#message {
  position: relative;
  display: none;
  margin: 25px;
}

/*.valid:before {
  position: relative;
  left: -10px;
  content: "Valid";
}*/

.valid {
  color: green;

}

.invalid {
  color: red;
}